---
const title = 'About';
import { transformer } from "astro:schema";
import BaseLayout from "../layouts/BaseLayout.astro";
const identity = {
  firstName: "Mario Torres",
  country: "Mexico",
  occupation: "Desarrollador web",
  hobbies: ["fotografia", "observación de aves", "peñarol"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Redacción de documentos"];
const happy = true;
const finished = true;
const goal = 3;

---
    <BaseLayout pageTitle = {title}>
        <section>
            <h2>Titulo de la seccion {title}</h2>
            <h4>cosas sobre mi </h4>
            <ul>
                <li>Me llamo: {identity.firstName}</li>
                <li>vivo en: {identity.country}</li>
                <li> trabajo en: {identity.occupation} </li>
                { skills.length > 0 && (
                    <li> Mis Habilidades son : {skills.map((skill) => {
                        return <span class="skill">{skill+ "  "}</span>
                    })}</li>
                )
                }
            </ul>
            {happy && <p>¡Estoy feliz de aprender Astro!</p>}
{finished && <p>¡He terminado este tutorial!</p>}
{goal === 3 ? <p>Mi objetivo es terminar en 3 días.</p> : <p>Mi objetivo no son 3 días.</p>}
        </section>
    </BaseLayout>


